In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
dataset = pd.read_csv('Corona detecter.csv')
X = dataset.iloc[:, :5].values
y = dataset.iloc[:, -1].values
dataset

,fever,bodyPain,age,runny nose,difficulty to Breath,Infection Probability
0,101.938979,0,96,1,-1,1
1,101.208888,1,41,0,-1,1
2,101.893322,0,71,0,1,0
3,99.867508,0,60,0,1,1
4,99.142922,1,24,1,-1,0
...,...,...,...,...,...,...
994,99.088037,0,86,1,0,0
995,101.413088,1,32,0,1,0
996,100.132655,0,53,1,1,1
997,99.363857,1,51,0,1,0
998,102.316586,0,86,1,-1,0

In [2]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   fever                  999 non-null    float64
 1   bodyPain               999 non-null    int64
 2   age                    999 non-null    int64
 3   runny nose             999 non-null    int64
 4   difficulty to Breath   999 non-null    int64
 5   Infection Probability  999 non-null    int64
dtypes: float64(1), int64(5)
memory usage: 47.0 KB

In [3]:
dataset.describe()

,fever,bodyPain,age,runny nose,difficulty to Breath,Infection Probability
count,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000
mean,100.472761,0.501502,51.106106,0.503504,0.035035,0.506507
std,1.438260,0.500248,28.373383,0.500238,0.819217,0.500208
min,98.000185,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.218269,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,100.485049,1.000000,53.000000,1.000000,0.000000,1.000000
75%,101.724029,1.000000,76.000000,1.000000,1.000000,1.000000
max,102.999860,1.000000,100.000000,1.000000,1.000000,1.000000

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [5]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [6]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [7]:
classifier.predict([[101,1,41,0,-1]])

array([1])

In [8]:
classifier.predict_proba([[99,0,21,1,0]])

array([[0.01634039, 0.98365961]])

In [9]:
y_pred = classifier.predict(X_test)
y_pred

array([0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0,
       0, 1])

In [10]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[37, 70],
       [36, 57]])

In [11]:
input = [102,0,21,1,1]
output = classifier.predict_proba([input])[0][1]
output

0.9879317500331944

In [12]:
classifier.score(X_test,y_test)

0.47

In [13]:
import joblib
joblib.dump(classifier, "Cororna_detector.pkl")

['Cororna_detector.pkl']